.title {
  font-family: fantasy;
  text-align: center;
}
h1{
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  margin-bottom: 5px;

}
h2{
  color: white;
  font-weight: bold;
  font-family: 'Delius Unicase', cursive;
}

h3{
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  margin: 0;
}

h4{
  font-size: .8em;
  font-weight: lighter;
  margin: 0;
}

h5{
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  margin-bottom: 5px;
}

h6 {
  margin:bottom: 2px;
}
label{
  font-family:  'Roboto', sans-serif;;
}

.footer h3 {
  font-size: 9px;
}

#logo:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
  color:#FF988E;
}

.active-link {
  color:#A874D4;
}

.nav-links a:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

p{
  font-family:  'Roboto', sans-serif;
  padding-top: 30px;
}

#difColor{
  background-color:#FF988E;
}
