.title {
  font-family: fantasy;
  text-align: center;
}
h1{
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  margin-bottom: 5px;

}
h2{
  color: white;
  font-weight: bold;
  font-family: 'Delius Unicase', cursive;
}
h5{
  color: #A874D4;
  font-family: 'Delius Unicase', cursive;
  font-weight: bold;
  margin-bottom: 5px;
}

h6 {
  margin:bottom: 2px;
}
label{
  font-family:  'Roboto', sans-serif;;
}

.footer h3 {
  font-size: 9px;
}

#logo:hover {
	-webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}

.nav-buttons:hover {
  -webkit-filter: drop-shadow(0px 0px 8px rgba(0, 231, 255, 0.8));
}


.nav-links a {
  padding: 10px;
  text-decoration: none;
  font-weight: bold;
}
.active-link {
  color:#A874D4;
}
.nonactive-link{
  color:#FF988E;
}

p{
  font-family:  'Roboto', sans-serif;
  padding-top: 30px;
}

#difColor{
  background-color:#FF988E;
}
