body {
  width:100%;
  height: auto;
  text-align: center;
  margin: auto;
  /*border: 2px solid black;*/
}

/*Header Stuff*/

.navbar {
  width:100%;
  position: fixed;
  top: 0;
  z-index: 10;
  background-color: white;
  font-family: 'Delius Unicase', cursive;
  font-size: .8em;
  margin: 0 auto;
}

#nav-logo {
 width: 60px;
 margin-left: 100px;
 float: left;
}

#logo {
  height: 60px;
  width: 60px;
  margin-bottom: 25px;
  position: relative;
  top: 10px;
}
.nav-links {
  margin-top: 15px;
  position: relative;
  top: 10px;
  float: right;
  margin-right: 100px;
}
.title {
  text-align: center;
  font-family: fantasy;
}
.mainContent{
  text-align: center;
  margin: 0 auto;
  width: 70%;
  height: auto;
}
/*Toilets page with all of our locations*/
#map {
  height:500px;
  width: auto;
  text-align: center;
  /*float: right;*/
  margin-bottom: 50px;
  margin: 0 auto;
}
.sideBar {
  background-color:#F5F7FA;
  opacity:1;
  width: 30%;
  height: 500px;
}
/* About us page divs */

.aboutUsAll{
  width: 80%;
  background-color:black;
  margin: 0 auto;
}
.about-us{
  width: 90%;
  height:auto;
  margin-top:50px;
  display: inline-block;
  word-wrap: break-word;
  background-color: white;
}
/*Footer Stuff*/
.footer {
  font-family: 'Delius Unicase', cursive;
  text-align: center;
  letter-spacing: .5px;
  color: grey;
}

#unicorn {
  margin-bottom: 10px;
  color: #A874D4;
  font-weight: bold;
}

.footer hr {
  width: 100%;
  margin-bottom: 15px;
}

@media screen and (max-width: 500px) {
  #nav-logo {
   margin-left: 50px;
  }
  .nav-links {
    margin-right: 50px;
  }
}
@media screen and (max-width: 825px) {
  .about-us{
    width:50%;
  }
}
